<% if logged_in? %>
  <div class="row">
    <aside class="col-xs-12">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/menu_registering_form' %>
      </section>
    </aside>
  <!-- </div> -->
    <div class="col-xs-12">
      <% if current_user.meals.any? %>
        <ol class="microposts">
          <%= render @meals %>
        </ol>
        <%= will_paginate @meals %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Menu Diary</h1>
    <h2>
      This is the home page for the Menu Diary.
    </h2>
    <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
    <h2>
      ユーザーをお持ちの方は<%= link_to "Log in", login_path %>
    </h2>
  </div>
<% end %>
