<%= form_for(@meal, url: meals_path, method: :post) do |f| %>
  <%= fields_for @dish do |i| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: i.object %>
    <div class="field">
      <div class="col-md-12 col-xs-8">
        <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d") %>
      </div>
      <div class="col-md-12 col-xs-4">
        <%= f.select :eating_time, @eating_times, prompt: "（朝昼夕）" %>
      </div>
      <div class="col-xs-9" style="padding-right: 1%">
        <%= i.text_field :name, placeholder:"品名" %>
      </div>
      <div class="col-xs-3" style="padding-left: 0">
        <%= i.select :category, @dish_categories, prompt: "（分類）" %>
      </div>
    </div>
    <div class="pull-right col-xs-5">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
