<li id="meal-<%= meal.id %>">
  <span class="content">
    <%= meal.date %>
    <%= meal.eating_time %>
    <br>
    <% meal.dishes.each do |t| %>
      ・<%= t.name %><br>
    <% end %>
    <%= link_to "delete", meal, method: :delete,
                        data: { confirm: "本当に削除して良いですか？" } %>
  </span>
</li>
