<li>
  <span class="content">
    <%= form_with url: {controller: 'static_pages', action: 'home'},
                                        method: :get, local: true do |form| %>
      <div class="col-md-4 col-xs-5" style="padding-right: 1%">
        <%= form.date_field :date, value: @date %>
      </div>
      <div class="col-md-3 col-xs-3" style="padding-left: 0">
        〜３０日前
      </div>
      <div class="col-md-5 col-xs-4"></div>
      <!-- <div class="col-md-5 col-xs-6"></div> -->
      <span class="col-md-9 col-xs-8 form-inline">
        <span class="checkbox-inline">
          <%= form.check_box :breakfast, checked: @dtimes[0][1] %>
          <div><%= form.label :breakfast, "朝" %></div>
        </span>
        <span class="checkbox-inline">
          <%= form.check_box :lunch, checked: @dtimes[1][1] %>
          <div><%= form.label :lunch, "昼" %></div>
        </span>
        <span class="checkbox-inline">
          <%= form.check_box :dinner, checked: @dtimes[2][1] %>
          <div><%= form.label :dinner, "夕" %></div>
        </span>
      </span>
      <div class="col-md-3 col-xs-4">
        <%= form.submit "表示" %>
      </div>
    <% end %>
    <!-- header -->
    <div class="col-xs-1" style="padding: 0 5px"></div>
    <div class="col-xs-11 text-center" style="padding: 0 5px">
      <% @dtrue_names.each do |name| %>
        <div class="header-meal col-xs-<%= 12/@dtrue_count %>">
          <%= name %>
        </div>
      <% end %>
    </div>
    <!-- contents -->
    <% for num in 0..30 do %>
      <!-- date -->
      <div class="col-xs-12" style="padding: 0">
        <div class="one-date col-xs-1 text-center">
          <%= (@date-num).month.to_s %><br>
          /<br>
          <%= (@date-num).day.to_s %><br>
          <%= %w(日 月 火 水 木 金 土)[(@date-num).wday] %>
        </div>
        <!-- menu -->
        <div class="col-xs-11" style="padding: 0 5px">
          <% @dtrue_ids.each do |id| %>
            <div class="one-meal col-xs-<%= 12/@dtrue_count %>">
              <% if @meal = current_user.meals.find_by(date: @date-num, eating_time: id) %>
                <!-- <div class="meal-dish col-xs-12"> -->
                  <% @meal.dishes.each do |m| %>
                    -<%= m.name %><br>
                  <% end %>
                <div class="meal-edit">
                  <%= link_to 'Edit', edit_meal_path(@meal) %>
                  /<%= link_to "delete", @meal, method: :delete,
                                    data: { confirm: "本当に削除しますか？" } %>
                </div>
                <!-- </div> -->
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </span>
</li>
