<li>
  <span class="content">
    <!-- header -->
    <div class="col-xs-1"></div>
    <div class="meal-zone col-xs-11 text-center">
      <% ["朝","昼","夕"].each do |s| %>
        <div class="header-meal col-xs-4">
          <%= s %>
        </div>
      <% end %>
    </div>
    <!-- contents -->
    <% for num in 0..6 do %>
      <!-- date -->
      <div class="one-date col-xs-1 text-center">
        <%= (Date.today-num).month.to_s %><br>
        /<br>
        <%= (Date.today-num).day.to_s %><br>
        <%= "("+%w(日 月 火 水 木 金 土)[(Date.today-num).wday]+")" %>
      </div>
      <!-- menu -->
      <div class="meal-zone col-xs-11">
        <% for t in 1..3 do %>
          <div class="one-meal col-xs-4">
            <% if @meal = Meal.find_by(date: Date.today-num, eating_time: t) %>
              <% @meal.dishes.each do |m| %>
                <%= m.name %><br>
              <% end %>
              <div class="meal-edit">
                <%= link_to 'Edit', edit_meal_path(@meal) %>
                /<%= link_to "delete", @meal, method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </span>
