<% provide(:title, 'Recommended menu') %>
<div class="row">
  <aside class="col-md-4 col-xs-12">
    <section>
      <h1>おすすめメニュー</h1>
    </section>
    <%= form_with url: {controller: 'recommended_menus', action: 'show'},
                  method: :get, local: true do |form| %>
      <div class="col-md-5 col-xs-3">
        <%= form.select :eating_time, @eating_times, selected: @eating_time %>

      </div>
      <div class="col-md-5 col-xs-3">
        <%= form.submit "表示" %>
      </div>
    <% end %>
    <div class="col-md-8 col-xs-12" style="padding-top: 10px">
      <% @dishes.each_with_index do |dish, index| %>
        <div class="col-xs-4">
          【<%= @dish_categories[index+1][0] %>】
          <% dish.each_with_index do |di, index_sec| %>
            <div class="col-xs-12">
              <%= index_sec + 1 %>位
              <%= di %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </aside>
</div>
